<div class="container mb-2 mt-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="id">
        <button type="button" class="btn btn-success"  [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button>
      </div>
   <div class="row">
            <form autocomplete="off" [formGroup]="miFormulario">
                <div class="row mt-5">
                    <div class="col-lg-7 mt-3">
                        <div class="mb-3">
                            <input type="text" class="form-control" formControlName="clave" placeholder="Ingresa la clave">
                            <span class="form-text text-danger" *ngIf="campoValido('clave')">Campo requerido</span>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" formControlName="categoria"
                                placeholder="Ingresa la categoria">
                            <span class="form-text text-danger" *ngIf="campoValido('categoria')">Campo requerido</span>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingresa el nombre del producto">
                            <span class="form-text text-danger" *ngIf="campoValido('nombre')">Campo requerido</span>
                        </div>
                        <div class=" checkBox mb-3">
                            <label class="m-2" for="">Activo</label>
                            <input type="checkbox" formControlName="activo" class="form-control-check">
                            <span class="form-text text-danger" *ngIf="checkbox('activo')">Campo requerido</span>
                        </div>
                    </div>  
                    <div class="col-lg-4 mt-5">
                        <div class="input_precios">
                            <div class="input-group">
                                <input type="number" class="form-control" formControlName="precios"
                                    placeholder="Ingresa el precio" (keyup.enter)="agregarPrecio(miFormulario.value.precios)">
                                <span class="form-text text-danger" *ngIf="campoValido('precios')">Campo requerido</span>
                                <button type="button" class="btn btn-primary" (click)="agregarPrecio(miFormulario.value.precios)">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="precios">
                            <h5>Precios</h5>
                            <ul id="list">
                                <li class="lista" *ngFor="let pre of precio">
                                        <div class="row  m-2">
                                            <div class="col-8">{{pre.precio}}</div>
                                            <div class="col-2">  <button type="button" (click)="eliminar(pre.precio)" class="btn btn-danger btn-sm">Eliminar</button></div>
                                        </div>

                                  </li>
                            </ul>
                        </div>
                    </div>                   
                </div>
                <div class="container text-center">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-12 p-3" *ngIf="!id" >
                            <button type="submit" disabled *ngIf="!miFormulario.valid" class="btn btn-outline-success"><a>Guardar</a></button>
                            <button type="submit" *ngIf="miFormulario.valid" class="btn btn-success"(click)="crearArticulo()"><a>Guardar</a></button>
                        </div> 
                        <div class="col-lg-12 p-3" *ngIf="id" >
                            <button type="submit" disabled *ngIf="!miFormulario.valid" class="btn btn-outline-success"><a>Actualizar</a></button>
                            <button type="submit" *ngIf="miFormulario.valid" class="btn btn-success"(click)="actualizarArticulo()"><a>Actualizar</a></button>
                        </div>    
                    </div>
                    </div>              
            </form>
</div>