<div class="container">
  <div class="row">
    <!-- Empieza articulos -->
    <div class="articulos" *ngIf="art_comp=='articulos'">
      <h1>Articulos</h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-success"(click)="agregarArticulo()" >Crear articulo</button>
      </div>

      <app-articulos ></app-articulos>
     
    </div>
    <div class="crear_articulo" *ngIf="art_comp=='crear_articulo'">
      <h1>Agregar Articulo</h1>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-success"(click)="verArticulos()" >Ver Articulos</button>
      </div>
      <app-crear-articulo ></app-crear-articulo>
    </div>
    <!-- Termina articulos -->
    <hr>  
  </div>
  <div class="row">
    <div class="class col-lg-8">
      <h1>Categorias</h1>
          <app-categoria-component></app-categoria-component>
       
      
    </div>
    <div class="class col-lg-4">
      <h3>Crear categoria</h3>
      <app-crear-categoria></app-crear-categoria>
    </div>
  </div>
</div>

